<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="RabbitMqHost" value="rabbitmq://hv-mufasa/Nexus/"/>
    <add key="RabbitMqHostIntegrationTests" value="rabbitmq://hv-mufasa/NexusIntegrationTests/"/>
    <add key="RabbitMqUser" value="NexusUser"/>
    <add key="SignalRNotificationServiceQueue" value="signalrNotification.service"/>
  </appSettings>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
